*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  background-color: var(--background-page-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus,
input:focus-visible {
  outline: none;
}

ul,
ol {
  list-style: none;
}
